<HTML>
    <HEAD>
        <TITLE>Network Status
        </TITLE>
    </HEAD>
    <BODY alink="#0066ff" bgcolor="#000000" link="#0000ff" text="#ccddee" vlink="#0033ff">
        <CENTER>
            <H1> My Network Info </H1>
        Generated on <TMPL_VAR NAME=date>
        </CENTER>
        <TABLE WIDTH=100% BORDER=2 BORDERCOLOR="#000080" CELLPADDING=4 CELLSPACING=4 FRAME=HSIDES RULES=NONE" >
            <TR VALIGN=TOP>
